body{
    background-color: rgb(36, 36, 36);
    padding:50px 200px;
}


.card{
    position: fixed;
   background-color: white;
   width: 350px;
   height: 550px;
   border-radius: 20px;
}

.img{
    padding:25px ;
    position: fixed;
}    

.img img{
    border-radius: 20px;
}

.capsules{
    padding-left:30px;
    padding-top: 290px;
}
.capsules span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    display: inline;
    padding: 5px;
    padding-right: 6px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    letter-spacing: -0.1px;
}


a{
    text-decoration: none;
    color: black;
}

.content h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5px;
}

.content{
    padding-left: 30px;
    margin-right: 30px;
    line-height: 17px;
}

.content p{
    font-family: sans-serif;
    transition: 0.6s;
    font-size: 16px;
    margin-bottom: 20px;
}

h4{
    font-family:sans-serif;
    font-size: 15px;
    padding-left: 188px;
    margin-bottom: 10px;
}

h4 a{
    background-color: rgba(251, 255, 0, 0.678);
    padding: 5px;
    border: 2px solid rgba(151, 151, 151, 0.692);
    border-radius: 20px;
    transition: 0.6s;

}

h4 a:hover{
    padding: 10px;
}

.content p:hover{
    
}
