@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    overflow: hidden;
    margin: 0px;
}

.img{
    display: flex;
    height: 6em;
}

.img p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:0.8em;
    font-size: 1.4rem;
}
.uppernav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.uppernavright a{
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.uppernavright a:hover{
    color: red;
}
.lowernav{
    align-items: center;
}
.lowernavul ul{
    display: flex;
    height: 6vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.lowernavul ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.lowernavul ul li a{
    font-family: poppins;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}
.lowernavul ul li a:hover{
    color: rgb(207, 0, 0);
}
