@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    overflow-x:hidden;
    /* overflow-y:visible; */
    margin: 0px;
    background-color: rgb(53, 2, 2);
    /* background-image: url(images/dark-bg.jpg); */
    background-size: cover;
}

.img{
    display: flex;
    height: 6em;
}   

.img p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:0.8em;
    font-size: 1.4rem;
}
.header{
    background-image:url(images/light-bg.jpg);
    background-size: cover;
    height: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 168, 168);
}

.headerright a{
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.headerright a:hover{
    color: rgb(255, 0, 0);
}
.nav{
    align-items: center;
    position: sticky;
    top: 0px;
    margin-bottom: 50px;
}
.navul ul{
    display: flex;
    height: 6vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(65, 65, 65);
    gap: 0px;
    align-items: center;
    justify-content: center;
    margin: 0;                /* reset default UL margins to remove gap */
    padding: 0;
}

.navul ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: letter-spacing 0.3s ease-in-out , transform 0.3s ease-in-out;
}

.navul ul li:hover{
    letter-spacing: 1px;     
    /* transform: scale(1.06); */
}

.navul ul li a{
    font-family: poppins;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease-in-out;
}
.navul ul li a:hover{
    color: rgb(255, 37, 37);
}

.mainbody{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainbody h2{
    font-family: "Spectral SC";
    color: white;
    font-size: 2rem;
    margin-bottom:3rem;
    margin-top: 0rem;
}
.prolineup{
    display: flex;
    gap: 8rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: rgba(68, 68, 68, 0.76);
    box-shadow:  0px 0px 100px;
}
.procover{
    border-radius: 30px;
    height: 14rem;
    width: 14rem;
    background-color: rgba(128, 128, 128, 0.603);
}