body{
    background-image: linear-gradient(rgb(204, 204, 204) , rgb(119, 119, 119));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}


.mainbox{
    background-color: rgb(44, 44, 44);
    box-sizing: border-box;
    text-align: center;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 5px;
    width: 400px; /* reasonable default width */
    height: 550px; /* reasonable default height */
    display: flex;
    padding: 20px;
}

/* center the .mainbox in the viewport */
html ,body{
    height: 100%;
    margin: 0 px;
}

/* .welcome{
    padding-left: 75px;
} */
 /* If we want the content in the center */

.welcome h1{
    display: inline;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    color: white;
    margin: 0 px;
    transition: 1s;
}

.welcome p{
    display: inline;
    font-family: sans-serif;
    line-height: 3px;
    font-size:15px;
    color: white;
    /* transition: 1s; */
}

.email{
    position: fixed;
    /* display: block; */
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    transition: 0.2s;
    padding:10px;
}

.email:hover{
    background-color: white;
    padding-right: 50px;
    padding-bottom: 30px;
    #email{
        color:rgb(0, 0, 0);
    }
}

#email{
    padding-right: 135px;
    font-size: 10;
    color:white;
}

#emailbox{
    transition: 1s;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px;
}
#emailbox:focus{
    outline: none;

}

/* password block below */

.password{
    position: fixed;
    display: block;
    padding-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    transition: 0.2s;
    padding:10px;
}

.password:hover{
    background-color: white;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 30px;
    #password{
        color:rgb(0, 0, 0);
    }

    .transmod{
        transition: 1S;
        display: block;
        padding-TOP: 40px;
    }
}

#password{
    padding-right: 105px;
    font-size: 10;
    color:white;
}

#passwordbox{
    transition: 1s;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px;
}
#passwordbox:focus{
    outline: none;
}



#forgotpass{
    display:inline;
    text-decoration: none;
    color: white;
    padding-right: 70px;
    line-height: 40px;
}

#signup{
    display:inline;
    text-decoration: none;
    color: white;
    padding-right: 105px;
    line-height: 30px;
}

#loginbutton{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content:center;
    position:absolute;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 140px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(233, 218, 13);
    transition: 0.5s;
    line-height: 30px;
}

#loginbutton:hover{
    line-height: 10px;
    transition: 0.2s;
    background-color:rgb(233, 218, 13);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-left: 140px;
    border: 2px solid black;
    letter-spacing: 2px;
    border-radius: 20px;
    line-height: 20px;
}

.footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#newhere{
    display: inline;
    position: relative;
    color: rgb(255, 255, 255);
    padding-right: 75px;
    font-size: 20px;
    line-height: 10px;
    transition: 1s;
}

#signup{
    display:block;
    font-style: italic;
    position: relative;
    padding-right: 125px;
    line-height: 25px;
}
    
/* .banner{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius:20px;
    margin-left: 30px;
    padding-left:120px;
    transition: 1s;
}
.banner:hover{
    transition: 0.2s;
    background-color: white;
    margin-left: 30px;
    padding-left:120px;
    padding-right: 0px;
} */