@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    background-image: linear-gradient( 175deg ,#7e7e7e , #3c3c3c ) ;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.googlelogoaboutpage{
    background-image: linear-gradient( 150deg ,#a0a0a0  ,#3c3c3c ,#858585 ) ;
    
}

.google{
    text-align: center;
    text-shadow: 09px 07px 7px rgb(0, 0, 0);
    padding-top: 28px ;
    padding-bottom: 28px ;
}

#readhere{
    text-decoration: none;
}
.google h3{
    text-shadow: 00px 00px 0px rgb(0, 0, 0);
}

.googlelogoaboutpage{  /* Adjustment configs on about.html*/
    padding-left: 14px;
}

.google h1{
    margin: 0.2rem ; /* small vertical spacing */
    font-size: clamp(2.5rem, 8vw, 6rem);
    line-height: 1;
    padding: 0;
    /* tighten overall horizontal spacing slightly */
    letter-spacing: -0.1em;
}

.google h1 span{
    display: inline-block;
    margin: 0.05rem; /* smaller gap between letters */
    vertical-align: middle;
    letter-spacing: -0.19em;
    
}

#G{ color: rgb(0, 162, 255); }
#O{ color: rgb(255, 2, 2); }
#o{ color: rgb(255, 217, 0); }
#g{ color: rgb(0, 195, 255); }
#l{ color: green; }
#e{ color: red; }

h1::first-letter{
    font-size: 150px;
}

h6{
    display: inline-block;
    text-align:center;
    font-size: 20px;
    margin: 5px;
    padding-bottom: 15px;
}

.nav{
    display: block;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-image: linear-gradient(to right ,rgb(0, 0, 0) , rgb(0, 0, 0));
    word-spacing: 11px;
}

.navbox{
    margin: 0px;
    padding: 5px;
}

.nav ul li{
    color: rgb(255, 255, 255);
    margin-left: 0px;
    text-decoration: none;
    padding: 10px 25px;
    display:inline-block;
    border:2px solid;
    border-color: rgb(104, 104, 104);
    border-radius: 20px;
    transition: 0.3s;
}

.nav li:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(46, 48, 48);
    /* font-size: 20px; */
    /* margin-right: 10px;
    padding-right: 70px; */
    transition: 0.3s;
}
.nav a{
    text-decoration: none;
    color: white;
    box-sizing: 100px;
    letter-spacing: 1px;
    transition: 0.3s;
}


.nav li:hover a{
    color:rgb(0, 0, 0);
    letter-spacing: 7px;
    transition: 0.3s;
}

.nav ul li.active{
    background-color: white;
}

.body{
    margin:10px;
}
.sbar{
    text-align:center;
    font-size: 30px;
    padding-top: 20px;
}

.sbar h6{
    color:rgb(45, 48, 4);
    font-size: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.searchbox{
    width: 600px; /* Sets the width of the input field */
    height: 50px;
    margin-left: 34%;
    /* border: 1px solid; */
    font-size: 25px;
    border-radius: 13px;
    background-color: rgba(235, 235, 235, 0);
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); */
}

#mainsearchbox{
    padding: 20px;
    padding-right: 300px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.6s ease-in-out ,box-shadow 0.6s ease-in-out, border-radius 1s ease-in-out;
}

#mainsearchbox:hover{
    transform:scale(1.02); 
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.879);
    border-radius: 20px;
}

#mainsearchbox:active{
    outline: none;
}

#scrsub{
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    left: 200px;
}

.txtbdy{
    
    font-size: 20px;
    margin-left: 30px;
    margin-right: 50px;
}

.txtbdy p{
    display: inline-block;
    font-size: 25px;
    font-family: 'Raleway';
    transition: color 0.2s ease-in-out;
}

.txtbdy p:hover{
    color: white;
}

.txtbdy h1{
    display: inline-block;
    font-family: 'poppins';
    font-size: 40px;
    letter-spacing: -0.001em;
    transition: color 0.2s ease-in-out;
}

.txtbdy h1:hover{
    color: white;

}

.txtbdy h1::first-letter{
    font-size: 55px;
    margin: 0 0.05rem;
}

.txtbdy li{
    margin-left: 20px;
}

.txtbdy ul li:hover{
    color: white;
}

.cpyright{
    text-align: center;
    margin: 10px;
    color: white;
}

.applogos{
    text-align: center;
    word-spacing: 80px;
}

.applogos img{
    height: 4rem;
}
